[project]
channels = ["conda-forge"]
name = "pydiverse.transform"
platforms = ["linux-64", "osx-64", "osx-arm64", "win-64", "linux-aarch64"]

[dependencies]
python = ">=3.11.14,<3.15.0a0"
pandas = ">=2.3.0,<3"
pyarrow = ">=20.0.0,<23"
polars = ">=1.30.0,<2"
pydiverse-common = ">=0.4.0,<0.5"
sqlalchemy = ">=2.0.41,<3"
black = ">=20"                    # used for printing ASTs

[host-dependencies]
pip = "*"
hatchling = "*"

[feature.dev.dependencies]
ruff = ">=0.5.6"
pre-commit = ">=3"
pre-commit-hooks = "*"
taplo = "*"
typos = "*"
pixi-pycharm = ">=0.0.6"
pytest = ">=7.1.2"
pytest-xdist = ">=2.5.0"
structlog = ">=25.4.0,<26"
filelock = ">=3.20.0"

[feature.release.dependencies]
hatch = ">=1.12.0"
twine = ">=5.1.1"

[feature.duckdb.dependencies]
duckdb = ">=1.3.0,<2"
duckdb-engine = ">=0.15.0, <0.16"

[feature.postgres.dependencies]
psycopg2 = ">=2.9.3"

[feature.mssql.dependencies]
pyodbc = ">=4.0.35"

# IBM DB2
[feature.ibm-db]
platforms = ["linux-64", "osx-arm64", "win-64"]

[feature.ibm-db.dependencies]
# Current pixi install keeps ibm_db 3.2.6 which works.
ibm_db = ">=3.2.5, <3.2.7" # somehow there is a version conflict for 3.2.7 that fails empty queries
ibm_db_sa = ">=0.3.8"

[feature.docs.dependencies]
sphinx = ">=8.2.3"
furo = ">=2024.8.6"
sphinxcontrib-apidoc = ">=0.3.0"
myst-parser = ">=4.0.1"
sphinx-autosummary-accessors = ">=2025.3.1"
sphinx-click = ">=6.0.0"
sphinx-autobuild = ">=2024.10.3"
sphinx-copybutton = ">=0.5.2"

[feature.docs.tasks]
docs = "cd docs && make html "
readthedocs = "rm -rf $READTHEDOCS_OUTPUT/html && cp -r docs/build/html $READTHEDOCS_OUTPUT/html"
install-all = "sh -c 'cd .pixi/envs/ && for i in */; do pixi install -e $(basename $i /); done && cd -'"

[feature.lint.dependencies]
#commitit-internal = "*"
pre-commit = "*"
insert-license-header = "*"
docformatter = "*"
ruff = ">=0.5.6"
prettier = "*"
nbstripout = "*"
sqlfluff = "*"
taplo = "*"
pre-commit-hooks = "*"
typos = "*"
conda-deny = "*"
go-yq = "*"

[feature.lint.tasks]
#commitit-install = "commitit install"
#commitit = "commitit run --all-files"
pre-commit-install = "pre-commit install"
pre-commit-run = "pre-commit run -a"
conda-deny = "conda-deny check"
check-deps = "sh -c .github/scripts/check_deps.sh"

[feature.py311.dependencies]
python = "3.11.*"
[feature.py312.dependencies]
python = "3.12.*"
[feature.py313.dependencies]
python = "3.13.*"
[feature.py314.dependencies]
python = "3.14.*"

[tasks]
postinstall = "pip install --no-build-isolation --no-deps --disable-pip-version-check -e ."

[environments]
default = ["py312", "dev", "duckdb", "postgres", "mssql"]
py311 = ["py311", "dev", "duckdb", "postgres", "mssql"]
py312 = ["py312", "dev", "duckdb", "postgres", "mssql"]
py313 = ["py313", "dev", "duckdb", "postgres", "mssql"]
py314 = ["py314", "dev", "duckdb", "postgres", "mssql"]
py311ibm = ["py312", "dev", "duckdb", "ibm-db"]
py312ibm = ["py312", "dev", "duckdb", "ibm-db"]
py313ibm = ["py312", "dev", "duckdb", "ibm-db"]
docs = ["docs"]
lint = { features = ["lint"], no-default-feature = true }
release = { features = ["release"], no-default-feature = true }
