[project]
channels = ["conda-forge"]
name = "pydiverse.transform"
platforms = ["linux-64", "osx-64", "osx-arm64", "win-64", "linux-aarch64"]

[dependencies]
python = ">=3.10.18,<3.14"
pandas = ">=2.3.0,<3"
pyarrow = ">=20.0.0,<21"
polars = ">=1.30.0,<2"
pydiverse-common = ">=0.3.4,<0.4"
sqlalchemy = ">=2.0.41,<3"

[host-dependencies]
pip = "*"
hatchling = "*"

[feature.dev.dependencies]
ruff = ">=0.5.6"
pre-commit = ">=3"
pre-commit-hooks = "*"
taplo = "*"
typos = "*"
pixi-pycharm = ">=0.0.6"
pytest = ">=7.1.2"
pytest-xdist = ">=2.5.0"

[feature.release.dependencies]
hatch = ">=1.12.0"
twine = ">=5.1.1"

[feature.duckdb.dependencies]
duckdb = ">=1.3.0,<2"
duckdb-engine = ">=0.15.0, <0.16"

[feature.postgres.dependencies]
psycopg2 = ">=2.9.3"

[feature.mssql.dependencies]
pyodbc = ">=4.0.35"

[feature.ibm-db]
# ibm-db is not available on Apple Silicon
# https://ibm-data-and-ai.ideas.ibm.com/ideas/DB2CON-I-92
platforms = ["linux-64", "osx-64", "win-64"]
[feature.ibm-db.target.osx.pypi-dependencies]
# ibm_db is not on conda-forge for macOS
# https://github.com/ibmdb/db2drivers/issues/3
ibm-db = ">=3.1.4"
[feature.ibm-db.target.linux.dependencies]
ibm_db = ">=3.1.4"
[feature.ibm-db.target.win.dependencies]
ibm_db = ">=3.1.4"
[feature.ibm-db.dependencies]
ibm_db_sa = ">=0.3.8"

[feature.docs.dependencies]
Sphinx = ">=7.3.7"
furo = ">=2023.5.20"
sphinxcontrib-apidoc = ">=0.3.0"
myst-parser = ">=2.0.0"
sphinx-autosummary-accessors = "2023.4.0.*"
[feature.docs.tasks]
docs = "cd docs && make html "
readthedocs = "rm -rf $READTHEDOCS_OUTPUT/html && cp -r docs/build/html $READTHEDOCS_OUTPUT/html"

[feature.lint.dependencies]
#commitit-internal = "*"
pre-commit = "*"
insert-license-header = "*"
docformatter = "*"
ruff = ">=0.5.6"
prettier = "*"
nbstripout = "*"
sqlfluff = "*"
taplo = "*"
pre-commit-hooks = "*"
typos = "*"
conda-deny = "*"
go-yq = "*"

[feature.lint.tasks]
#commitit-install = "commitit install"
#commitit = "commitit run --all-files"
pre-commit-install = "pre-commit install"
pre-commit-run = "pre-commit run -a"
conda-deny = "conda-deny check"
check-deps = "sh -c .github/scripts/check_deps.sh"

[feature.py310.dependencies]
python = "3.10.*"
[feature.py311.dependencies]
python = "3.11.*"
[feature.py312.dependencies]
python = "3.12.*"
[feature.py313.dependencies]
python = "3.13.*"

[tasks]
postinstall = "pip install --no-build-isolation --no-deps --disable-pip-version-check -e ."

[environments]
default = ["py312", "dev", "duckdb", "postgres", "mssql"]
py310 = ["py310", "dev", "duckdb", "postgres", "mssql"]
py311 = ["py311", "dev", "duckdb", "postgres", "mssql"]
py312 = ["py312", "dev", "duckdb", "postgres", "mssql"]
py313 = ["py313", "dev", "duckdb", "postgres", "mssql"]
py312ibm = ["py312", "dev", "duckdb", "postgres", "mssql", "ibm-db"]
docs = ["docs"]
lint = { features = ["lint"], no-default-feature = true }
release = { features = ["release"], no-default-feature = true }
