name: Tests

on:
  push:
    branches:
      - main
  pull_request:
    paths-ignore:
      - "docs/**"

jobs:
  lint:
    name: Pre-commit Checks
    timeout-minutes: 30
    runs-on: ubuntu-latest
    steps:
      - name: Checkout branch
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v4.2.1
      - name: Set up pixi
        uses: prefix-dev/setup-pixi@82d477f15f3a381dbcc8adc1206ce643fe110fb7 # v0.9.3
      - name: Install repository
        # needed for generate-col-ops hook
        run: pixi run postinstall
      - name: pre-commit
        run: pixi run pre-commit run -a --color=always --show-diff-on-failure
      - name: Check pyproject.toml dependencies
        run: pixi run check-deps

  smoke_test:
    name: Smoke Test
    strategy:
      matrix:
        os:
          - ubuntu-latest
        environment:
          - py312
    uses: ./.github/workflows/test.yml
    with:
      os: ${{ matrix.os }}
      environment: ${{ matrix.environment }}
      docker-services: ""

  other_test:
    name: Other Tests (sqlite, duckdb_parquet)
    needs: [smoke_test]
    strategy:
      matrix:
        os:
          - ubuntu-latest
        environment:
          - py311
          - py312
          - py313
          - py314
    uses: ./.github/workflows/test.yml
    with:
      os: ${{ matrix.os }}
      environment: ${{ matrix.environment }}
      docker-services: ""
      pytest-arguments: --sqlite --duckdb_parquet

  postgres_test:
    name: Postgres Tests
    needs: [smoke_test]
    strategy:
      matrix:
        os:
          - ubuntu-latest
        environment:
          - py311
          - py312
          - py313
          - py314
    uses: ./.github/workflows/test.yml
    with:
      os: ${{ matrix.os }}
      environment: ${{ matrix.environment }}
      docker-services: |
        postgres
      pytest-arguments: --postgres

  mssql_test:
    name: MSSql Tests
    needs: [smoke_test]
    strategy:
      matrix:
        os:
          - ubuntu-latest
        environment:
          - py311
          - py312
          - py313
          - py314
    uses: ./.github/workflows/test.yml
    with:
      os: ${{ matrix.os }}
      environment: ${{ matrix.environment }}
      docker-services: |
        mssql
      pytest-arguments: --mssql

  ibm_db2_test:
    name: IBM DB2 Tests
    needs: [smoke_test]
    strategy:
      matrix:
        os:
          - ubuntu-latest
        environment:
          - py311ibm
          - py312ibm
          - py313ibm
    uses: ./.github/workflows/test.yml
    with:
      os: ${{ matrix.os }}
      environment: ${{ matrix.environment }}
      docker-services: |
        ibm_db2
      pytest-arguments: --ibm_db2
